#marketShareDiv{
  width:75%;
  height: 850px;
  margin-left:200px;
}

#marketShareCitiesDiv{
  width:75%;
  height: 850px;
  margin-left:200px;
}

#stackedBarDiv{
  width:95%;
  height: 1200px;
  margin-left:50px;
}
