#marketShareDiv{
  width:75%;
  height: 850px;
  margin-left:260px;
}

#marketShareCitiesDiv{
  width:75%;
  height: 850px;
  margin-left:260px;
}

#stackedBarDiv{
  width:95%;
  height: 1000px;
  margin-left:50px;
}
