#chartdiv{
  width:75%;
  height: 600px;
  margin-left:200px;
}

#weekOfYearDiv{
  width:85%;
  height: 800px;
  margin-left:100px;
}

#salaryOverTimeDiv{
  width:85%;
  height: 850px;
  margin-left:130px;
}
